/*settings*/
::-webkit-scrollbar { 
    display: none; 
}

::selection {
  background: #E91E63; 
}

::-moz-selection {
  background: #E91E63;
}

/*css reset*/
* { 
    padding: 0; margin: 0; 
}

/*fonts*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    line-height: 1.2em;
    color: rgba(255,255,255,0.95);
    -webkit-font-smoothing: antialiased;
    padding-bottom: 0.5em;
}

h2 {
    -webkit-font-smoothing: antialiased;
    padding-bottom: 0.3em;
}

h3 {
    -webkit-font-smoothing: antialiased;
    padding-bottom: 0.2em;
}

.imp {
    font-weight: 700;
    color: rgba(255,255,255,1);
}

a {
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-size: 1.3em;
    -webkit-font-smoothing: antialiased;
}

/*containers*/
body {
    margin-top: -0vh;
}

.border{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    border: 30px white solid;
     -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}

.outer-container {
    /*height: 100vh;
    width: 100vw;*/
    margin-left: -0vw;
    /*border: 30px white solid;*/
    background-color: #EEEFF1;
    position: relative;
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
    overflow-x: hidden;
}

.inner-container-60 {
    width: 60%;
    height: 100%;
}

.inner-container-40 {
    width: 40%;
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*navigatie*/
.navigation-button {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 60px;
    right: 60px;
    background-color: rgba(0,0,0,1);
    z-index: 10;
    text-align: center;
    cursor: pointer;
}

.fa-angle-left {
    color: white;
    font-size: 3em!important;
    margin-right: 5px;
}

.navigation-container {
    height: 50px;
    background-color: white;
    position: fixed;
    top: 60px;
    right: 60px;
    z-index: 9;
    display: none;
    /*display: table;*/
    table-layout: fixed;
    width: 45%;
    border-spacing: 50px 0;
}

.navigation-container a {
    color: rgba(0,0,0,0.6);
    display: table-cell;
    border-collapse: separate;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

.navigation-container a:hover {
    color:rgba(0,0,0,1);
}

/*driehoeken*/
.triangle-wrapper {
    float: left;
    height: 100%;
    width: 45%;
}

.triangle-up {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(to right top, #795547 50%, rgba(255,255,255,0) 50%)
}

.triangle-down {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(to right bottom, #00BCD4 50%, rgba(255,255,255,0) 50%)
}

/*colors*/
.brown {
    background-color: #795547;
}

.cyan {
    background-color: #00BCD4;
}

/*positioning*/
.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*elements*/

.text-box {
    padding: 2%;
    margin: 3% 3% 3% 7%;
}

.text-box h1:first-child {
    margin-top: 0px;
}

/*case slider*/
.inner-container-case {
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/bg.jpg);
    background-position: center center;   
}

.case-box {
    width: 50%;
    height: 50%;
    border: 10px solid rgba(255,255,255,1);
    margin: 0 auto;
    background-image: url(/assets/images/bg.jpg);
    background-size: 105%;
    background-position: center center;
    position: relative;
}

.case-info {
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding: 5%;
}

.case-background {
    position: absolute;  
}

h3.type {
    font-family: 'Merriweather', serif;
    color: rgba(255,255,255,1);
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    line-height: 1em;
    padding-bottom: 15px;
    padding-left: 3px;
}

h2.client {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgba(255,255,255,1);
    -webkit-font-smoothing: antialiased;
    font-size: 4.5em;
    line-height: 1em;
    padding-bottom: 0px;
}

.stick {
    height: 1px;
    width: 70px;
    background-color: white;
    display: inline-block;
    margin-bottom: 4px
}

.read-more-btn {
    display: inline-block;
    position: absolute;
    bottom: -50px;
    right: 0px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    -webkit-transform-origin: 50%  53%;
}

.button-text {
    font-size: 15px;
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}